<!DOCTYPE html>
<html>
  <%- include('./partials/header'); -%>

  <h3>Users : <%= users.length %> user</h3>
  <ul class="recipes">
    <% if(users.length > 0) { %> <% users.forEach(user => { %>
    <li class="recipe">
      <img src="/assets/img/smoothie.png" alt="smoothie recipe icon" />
      <h4><%= user.username %></h4>
      <p><%= user.email %></p>
      <div class="btns">
        <a href="/<%= user._id %>" class="rm"> Delete User</a>
        <a href="/edit/<%= user._id %>" class="edit"> Edit User</a>
      </div>
    </li>
    <% }); %> <% } else { %>
    <h3 class="emptyData">No Data Available</h3>
    <% } %>
  </ul>
  <h3>Comments</h3>
  <br />
  <% if(comments.length> 0) { %> <% comments.forEach(comment =>{ %>
  <div class="comments">
    <img
      src="/assets/img/smoothie.png"
      alt="smoothie recipe icon"
      width="60px"
    />
    <div class="infos">
      <h4><%= comment.username %></h4>
      <p class="comment"><%= comment.value %></p>
      <span class="time"
        ><%= comment.createdAt.toISOString().split('T')[0] %></span
      >
    </div>
  </div>
  <% }) %> <% } else { %>
  <p class="comment">
    No comment , be the first one to launch the conversation !
  </p>
  <% } %>
  <div class="message" id="commentMsg"></div>
  <form action="/smoothies" class="cmntForm" id="form">
    <div class="cmnt-section">
      <label for="commentinput">Leave a comment </label>
      <textarea
        placeholder="Type your comment"
        id="commentinput"
        name="comment"
      ></textarea>
      <input type="hidden" id="id" name="id" value="<%= user._id%>" />
      <input
        type="hidden"
        id="username"
        name="username"
        value="<%= user.username%>"
      />
      <button>comment</button>
    </div>
  </form>
  <!-- // TODOS TODAY : Front-end Search functionality + Cloud engineering -->
  <%- include('partials/footer'); -%>
</html>

<script>
  const form = document.getElementById("form");
  const id = document.getElementById("id");
  const username = document.getElementById("username");
  const comment = document.getElementById("commentinput");
  const commentMsg = document.getElementById("commentMsg");

  // comment error handler
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    commentMsg.textContent = "";
    commentMsg.style.backgroundColor = "transparent";

    const _id = form.id.value;
    const username = form.username.value;
    const comment = form.comment.value;
    try {
      const res = await fetch("/smoothies", {
        method: "POST",
        body: JSON.stringify({
          _id,
          username,
          comment,
        }),
        headers: {
          "Content-Type": "application/json",
        },
      });

      const data = await res.json();
      console.log(data);
      if (data.comment) {
        // make a div to show success message
        commentMsg.style.backgroundColor = "#23CE6B";
        commentMsg.textContent = "Comment posted !";
        location.assign("/smoothies");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
